
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
	scrollbar-width: thin;
	overflow-y: scroll;
	overflow-y: overlay;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
}

.title{
  margin: 5% 0 0;
}

.section{
  height: 100vh;
}

#exodus{

}




